{% extends "home/home_base.html" %}

#
# Window tab title in the browser
#
{% block HeadTitle %} Darwin {% endblock %} 

#
# page title, pre navbar
#
{% block PageTitle %} Welcome {% endblock %} 

#
# main logic for the page
#
{% block mainpagedisplay %}
<div class="container-xxl">
    <br>
    <h4>Task Management</h4>
    <ul>
        <li> <a href="{% url 'wi:task_worksheet' %}"> Worksheet Task View </a> </li>
        <li> <a href="{% url 'wi:area_multiedit' %}"> Edit Task Areas </a> </li>
    </ul>
</div>
{% endblock%}
