{% extends "wi/task_base.html" %}

{% block HeadTitle %} Darwin Login {% endblock %} 

{% block PageTitle %} User Login {% endblock %} 

{% block mainpagedisplay %}
{% load crispy_forms_tags %}
    <div class="container-xxl">
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <div class="form-group">
                <button class="btn btn-dark" type="submit">Login</button>
            </div>
            <br>
            <small class="text-muted ml-2">
                <a href="{% url 'users:password_reset' %}">Forgot Password?</a>
            </small>
        </form>
        <br>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need An Account? <a class="ml-2" href="{% url 'users:register' %}">Sign Up Now</a>
            </small>
        </div>
    </div>
{% endblock%}