{% extends "wi/task_base.html" %}

{% block HeadTitle %} WI: Reset Password {% endblock %} 

{% block PageTitle %}
    <div class="page-title-div container-fluid">
        <h3 class="bg-white mt-4 mb-3 m-0 p-0 g-0">

            Reset Password

        </h3>
    </div>
{% endblock %} 

{% block mainpagedisplay %}
    {% load crispy_forms_tags %}
    <div class="container-xxl">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <br>
            <div class="form-group">
                <button class="btn btn-dark" type="submit">Request Password Reset</button>
            </div>
        </form>
    </div>
{% endblock%}