{% extends "wi/task_base.html" %}

{% block HeadTitle %} WI: Reset Password {% endblock %} 

{% block PageTitle %}  Reset Password {% endblock %} 

{% block mainpagedisplay %}
    {% load crispy_forms_tags %}
    <div class="container-xxl">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <br>
            <div class="form-group">
                <button class="btn btn-dark" type="submit">Request Password Reset</button>
            </div>
        </form>
    </div>
{% endblock%}