{% extends "wi/task_base.html" %}

{% block HeadTitle %} User Profile {% endblock %} 

{% block PageTitle %}  
    <div class="page-title-div container-fluid">
        <h3 class="bg-white mt-4 mb-3 m-0 p-0 g-0">

            User Profile

        </h3>
    </div>
{% endblock %} 

{% block mainpagedisplay %}
{% load crispy_forms_tags %}
<div class="container-xxl">
    <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Profile Info</legend>
              {{ u_form|crispy }}
              {{ p_form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="mt-2 btn btn-dark btn-sm" type="submit">Update</button>
          </div>
      </form>
</div>
{% endblock%}