{% extends "wi/task_base.html" %}

{% block HeadTitle %} Area Focus  {% endblock %} 

{% block PageTitle %}
    <div class="page-title-div container-fluid">
        <h3 class="bg-white mt-4 mb-3 m-0 p-0 g-0" style="z-index: 1">
        {{ area_name }}Tasks
        </h3>
    </div>
{% endblock %} 

{% block mainpagedisplay %}
    <div class="container-fluid area_focus_main_page">
        <form action="" method="post">
            <div class="container-xxl">
                {% csrf_token %}
                {{ formset.management_form }}
            </div>
            <table class='table table-hover'>
                <thead> 
                    <tr>
                        {% for field in formset.form.visible_fields %}
                            <th>{{ field.label_tag }} </th>
                        {% endfor %}
                        <th class='col'> Delete? </th>
                    </tr>
                </thead>
                <tbody>
                        {% for form in formset %}
                        <tr>
                            {% for field in form.visible_fields %}
                                <td>{{ field }} </td>
                            {% endfor %}
                        </tr>                         
                        {% endfor %}
                </tbody>
            </table>
            <br>
            <!-- Buttons  --->
            <input type="submit" class='btn btn-dark btn-lg' value="Update All">
            <input type="submit" class='btn btn-dark btn-lg' onclick="window.location='{% url 'wi:task_worksheet' %}'; return false;" value="Cancel">

            <!-- render all the hidden fields -->
            <p>
            {% for form in formset %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }} <br>
                {% endfor %}
            {% endfor %}
            </p>
        </form>
        </div>
{% endblock%}