{% extends "wi/task_base.html" %}

{% block HeadTitle %} WI: Area Focus  {% endblock %} 

{% block PageTitle %}  {{area_name}} Tasks {% endblock %} 

{% block mainpagedisplay %}
    <div class="container-xxl area_focus_main_page">
        <form action="" method="post">
            <div class="container-xxl">
                {% csrf_token %}
                {{ formset.management_form }}
            </div>
            <table class='table table-hover'>
                <thead> 
                    <tr>
                        {% for field in formset.form.visible_fields %}
                            {% if field.name != "area" %}
                                <th>{{ field.label_tag }} </th>
                            {% endif %}
                        {% endfor %}
                        <th class='col'> Delete? </th>
                    </tr>
                </thead>
                <tbody>
                        {% for form in formset %}
                        <tr>
                            {% for field in form.visible_fields %}
                                <td>{{ field }} </td>
                            {% endfor %}
                        </tr>                         
                        {% endfor %}
                </tbody>
            </table>
            <br>
            <!-- Buttons  --->
            <input type="submit" class='btn btn-dark btn-lg' value="Update All">
            <input type="submit" class='btn btn-dark btn-lg' onclick="window.location='{% url 'wi:wi_listview' %}'; return false;" value="Cancel">

            <!-- render all the hidden fields -->
            <p>
            {% for form in formset %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }} <br>
                {% endfor %}
            {% endfor %}
            </p>
        </form>
        </div>
{% endblock%}