{% extends "wi/task_base.html" %}

{% block HeadTitle %} Area Focus {% endblock %} 

{% block PageTitle %}
{% endblock %} 

{% block mainpagedisplay %}

    <div class="container-fluid">
        <form action="" method="post">

            <h3 class="bg-white mt-4 mb-3 p-0 g-0">

                    {{ area_name }} Tasks

                {% if show_done %}
                    <button type="submit" name="hide_done" class='btn ms-5 btn-dark btn-sm'> 
                        Hide Done
                    </button>
                {% else %}
                    <button type="submit" name="show_done" class='btn ms-5 btn-dark btn-sm float-right'>
                        Show Done
                    </button>
                {% endif %}
            </h3>

            {% csrf_token %}
            {{ formset.management_form }}
            <table class='table' style="width: min-content;">
                <thead style='font-size: 12px; font-family: Verdana, sans-serif;'> 
                    <tr  >
                        {% for field in formset.form.visible_fields %}
                            <th class="fw-normal">{{ field.label_tag }} </th>
                        {% endfor %}

                        <th><i class="fas fa-trash-alt"></th>

                    </tr>
                </thead>
                <tbody style='font-size: 14px; font-family: Verdana, sans-serif;'>
                        {% for form in formset %}
                        <tr>
                            {% for field in form.visible_fields %}
                                <td>{{ field }} </td>
                            {% endfor %}
                        </tr>                         
                        {% endfor %}
                </tbody>
            </table>

            <input type="submit" class='btn btn-dark mt-3' value="Update">
            <input type="submit" class='btn btn-dark mt-3' onclick="window.location='{% url 'wi:task_worksheet' %}'; return false;" value="Cancel">

            <span>
            {% for form in formset %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }} <br>
                {% endfor %}
            {% endfor %}
            </span>
        </form>
    </div>

    <script type="text/javascript">

        $(document).ready(
            function() {
                
                //
                // textarea by default is 20 rows from Django. 
                // Work around here is to set rows to 1 so that autoscroll height works.
                // Otherwise the scollHeight is initially 20rows high.
                //
                $(".task-description").attr('rows', '1');
                $(".task-completed").attr('size', '22');

                //
                // Django adds a field suffix of ':' to each field name.
                // While there is a Django method to remove these, this is much easier.
                //
                $('th').each(function() {
                    //
                    // if the string lenght is 0, then the label is icon
                    //
                    var th = $(this);
                    if (th.text().length > 0) {
                        var th_text = th.text().replace(':','');
                        th.text(th_text);
                    }
                });
    
                //
                // tried different solutions and found this code on: https://stackoverflow.com/a/25621277
                //
                $("textarea").each(function () {
                    this.setAttribute("style", "height:" + (this.scrollHeight) + "px;overflow-y:hidden;");
                }).on("input", function () {
                    this.style.height = "auto";
                    this.style.height = (this.scrollHeight) + "px";
                });
    
                //
                // table setting is width: min-content, so width of description
                // is based on # of cols in the textarea.
                //
                $(".task-description").attr('cols', '22');
    
                //
                // custom widths for the table in the task card.meatofit
                //
                $("thead th:first-child" ).css('width', '24px');
                $(".task-priority").css('width', '24px');
                $(".task-status").css('width', '48px');
                $("thead th:nth-child(2)" ).css('width', '48px');
                
                //
                // task complete strikethrough handler, first when user clicks.
                // then also the code for load time parsing/strking through.
                //
                $(".task-status").on('click', function() {
                    
                    //
                    // django generates element ids that may include spaces, breaking call to jquery.
                    // however, you can escape the ' ' using \\ as workaround.
                    //
                    var tdi = "";
                    tdi = this.id.replace('status', 'description');
                    tdi = tdi.replace(' ', '\\ ');
    
                    // now that tdi is 'space safe', it can be derefenced as an id selector
                    $('#' + tdi).css('text-decoration', this.checked ? 'line-through' : 'none');
    
                });
    
                // todo: used this css call to execute code to set initial values for description's
                //       strikethrough. But it's really a cheat to get the selector and run the code.
                //       not acually doing anything with the ".css" call. 
                $(".task-status").css('text-docoration', function() {
                    //
                    // django generates element ids that may include spaces, breaking call to jquery.
                    // however, you can escape the ' ' using \\ as workaround.
                    //
                    var tdi = "";
                    tdi = this.id.replace('status', 'description');
                    tdi = tdi.replace(' ', '\\ ');
    
                    // now that tdi is 'space safe', it can be derefenced as an id selector
                    $('#' + tdi).css('text-decoration', this.checked ? 'line-through' : 'none');
                });
   
        });
    </script>
{% endblock%}