{% extends "wi/task_base.html" %}

{% block HeadTitle %} WI:Cards {% endblock %} 

{% block PageTitle %}  Card Investigation {% endblock %} 

{% block mainpagedisplay %}
<div class="container-xxl border">
    <div class="row gx-4 gy-4 row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-3 row-cols-xl-3 row-cols-xxl-3">
        <div class="col card">
            <div class="card-body">
                <h5 class="card-title"> Garden Tasks </h5>
                <p class="card-text">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ garden_formset.management_form }}
                        <table class='table table-hover table-sm'>
                            <thead> 
                                <tr>
                                    {% for field in garden_formset.form.visible_fields %}
                                        {% if field.name != "area" %}
                                            <th>{{ field.label_tag }} </th>
                                        {% endif %}
                                    {% endfor %}    
                                </tr>
                            </thead>
                            <tbody>
                                    {% for form in garden_formset %}
                                    <tr>
                                        {% for field in form.visible_fields %}
                                            <td>{{ field }} </td>
                                        {% endfor %}
                                    </tr>                         
                                    {% endfor %}
                            </tbody>
                        </table>
                        <br>
                        <!-- Buttons  --->
                        <input type="submit" name="garden_update" class='btn btn-dark btn' value="Update All">
                        <!-- <button name="garden_update" class='btn btn-primary btn-lg' id="garden_update">Update</button> -->
                        
                        <!-- render all the hidden fields -->
                        <p>
                        {% for form in garden_formset %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                        {% endfor %}
                        </p>
                    </form>                        
                </p>
            </div>
        </div>
        <div class="col-3 card">
            <div class="card-body">
                <h5 class="card-title"> Home Tasks</h5>
                <p class="card-text">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ home_formset.management_form }}
                        <table class='table table-hover table-sm'>
                            <thead> 
                                {% for field in home_formset.form.visible_fields %}
                                    {% if field.name != "area" %}
                                        <th>{{ field.label_tag }} </th>
                                    {% endif %}
                                {% endfor %}    
                            </thead>
                            <tbody>
                                    {% for form in home_formset %}
                                    <tr>
                                        {% for field in form.visible_fields %}
                                            <td>{{ field }} </td>
                                        {% endfor %}
                                    </tr>                         
                                    {% endfor %}
                            </tbody>
                        </table>
                        <br>
                        <!-- Buttons  --->
                        <input type="submit" name="home_update" class='btn btn-dark btn' value="Update">
            
                        <!-- render all the hidden fields -->
                        <p>
                        {% for form in home_formset %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                        {% endfor %}
                        </p>
                    </form>
                </p>
            </div>
        </div>
        <div class="col-3 card">
            <div class="card-body">
                <h5 class="card-title"> Bike Tasks</h5>
                <p class="card-text">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ bike_formset.management_form }}
                        <table class='table table-hover table-sm'>
                            <thead> 
                                {% for field in bike_formset.form.visible_fields %}
                                    {% if field.name != "area" %}
                                        <th>{{ field.label_tag }} </th>
                                    {% endif %}
                                {% endfor %}    
                            </thead>
                            <tbody>
                                    {% for form in bike_formset %}
                                    <tr>
                                        {% for field in form.visible_fields %}
                                            <td>{{ field }} </td>
                                        {% endfor %}
                                    </tr>                         
                                    {% endfor %}
                            </tbody>
                        </table>
                        <br>
                        <!-- Buttons  --->
                        <input type="submit" name="bike_update" class='btn btn-dark btn' value="Update">
            
                        <!-- render all the hidden fields -->
                        <p>
                        {% for form in bike_formset %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                        {% endfor %}
                        </p>
                    </form>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock%}