{% extends "wi/task_base.html" %}

{% block HeadTitle %} Day View {% endblock %} 

{% block PageTitle %}
    <div class="page-title-div container-fluid">
        <h3 class="bg-white mt-4 mb-3 m-0 p-0 g-0" style="z-index: 1">
        Day View - Completed Tasks {{ date }}
        </h3>
    </div>
{% endblock %} 

{% block mainpagedisplay %}
<div class="day-view container-fluid" >
    {% for done_date, day_description_list in month_data_list %}
        {% if forloop.counter0|divisibleby:7 %} 
            {% if forloop.first != True %}
                </div>
            {% endif %}
            <div class="row mb-2 m-0 p-0 g-0 d-flex" > 
        {% endif %}
        <div class="card me-l-0 me-xl-2 m-0 p-0 g-0 flex-fill col-xl-1 col-lg-3 col-md-6 col-sm-12 col-xs-12"
                style="background-color: Ivory;"> 
            <div class="card-title m-0 p-1 g-0" 
                    style="background-color: LightSteelBlue; font-family: Georgia, serif;" > 
                <h6 class="m-0 p-0 g-0">

                    {{done_date|date:"M j"}}

                    <span class="d-block d-lg-none" style="float: right;">
                    {{done_date|date:"D"}}
                    </span>

                    <a class="d-none d-lg-block" style="float: right;" href="{% url 'wi:day_calendarview' done_date|date:'Y-m-d'  %}">
                    {{done_date|date:"l"}}
                    </a>

                </h6>
            </div>
            <div class="card-meat-of-it m-0 p-0 g-0"
                    style="font-family: Verdana, sans-serif; font-size: 12px;" >
                {% if day_description_list|length == 0 %}
                    <p class="m-0 p-0 g-0 w-100" style="white-space: normal; border: none">
                        <br> <br>
                    </p>
                {% else %}
                    {% for description in day_description_list %}
                        <p class="ps-2 m-0 p-0 g-0 w-100" 
                            style="white-space: normal; text-indent: -0.25rem;">
                        {{ description }} 
                        </p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
 </div>
{% endblock%}