{% extends "wi/task_base.html" %}

#
# Window tab title in the browser
#
{% block HeadTitle %} WI:Domain Editor {% endblock %} 

#
# page title, pre navbar
#
{% block PageTitle %} <br> Domain Editor {% endblock %} 

#
# main logic for the page
#
{% block mainpagedisplay %}
<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        <table class='table table-hover table-md'>
            <thead> 
                <tr>
                    {% for field in formset.form %}
                    <th>{{ field.label_tag }} </th>
                    {% endfor %}
                    <th> Delete? </th>
                </tr>
            </thead>
            <tbody>
                    {% for form in formset %}
                    <tr>
                        {% for field in form.visible_fields %}
                            <td>{{ field }} </td>
                        {% endfor %}
                    </tr>                         
                    {% endfor %}
            </tbody>
            </table>
        <br>
        <!-- Buttons  --->
        <input type="submit" class='btn btn-dark btn-lg' value="Update All">
        <input type="submit" class='btn btn-dark btn-lg' onclick="window.location='{% url 'wi:wi_listview' %}'; return false;" value="Cancel">

        <!-- render all the hidden fields -->
        <p>
        {% for form in formset %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }} <br>
            {% endfor %}
        {% endfor %}
        </p>
    </form>
    </div>
    {% endblock%}
