{% extends "wi/task_base.html" %}

#
# Window tab title in the browser
#
{% block HeadTitle %} Domain Editor {% endblock %} 

#
# page title, pre navbar
#
{% block PageTitle %}
    <div class="page-title-div container-fluid">
        <h3 class="bg-white mt-4 mb-3 m-0 p-0 g-0" style="z-index: 1">
        Domain Editor
        </h3>
    </div>
{% endblock %} 

#
# main logic for the page
#
{% block mainpagedisplay %}
<div class="container-fluid">
    <form action="" method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        <table class='table' style="width: min-content;">
            <thead> 
                <tr>
                    {% for field in formset.form %}
                        <th>{{ field.label_tag }} </th>
                    {% endfor %}

                    <th> <i class="fas fa-trash-alt"> </th>
                    
                </tr>
            </thead>
            <tbody>
                    {% for form in formset %}
                    <tr>
                        {% for field in form.visible_fields %}
                            <td>{{ field }} </td>
                        {% endfor %}
                    </tr>                         
                    {% endfor %}
            </tbody>
            </table>
        <br>
        <!-- Buttons  --->
        <input type="submit" class='btn btn-dark' value="Update All">
        <input type="submit" class='btn btn-dark' onclick="window.location='{% url 'wi:task_worksheet' %}'; return false;" value="Cancel">

        <!-- render all the hidden fields -->
        <p>
        {% for form in formset %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }} <br>
            {% endfor %}
        {% endfor %}
        </p>
    </form>
    <script type="text/javascript">

        $(document).ready(
            //
            // set input:text size equal to # charactors allowed
            //
            function() {
                $("input[type=text]").attr('size', '25');
            });

            //
            // Django adds a field suffix of ':' to each field name.
            // While there is a Django method to remove these, this is much easier.
            //
            $('th').each(function() {
                //
                // if the string lenght is 0, then the label is icon
                //
                var th = $(this);
                if (th.text().length > 0) {
                    var th_text = th.text().replace(':','');
                    th.text(th_text);
                }
            });



    </script>
</div>
{% endblock%}
