{% extends "wi/task_base.html" %}

{% block HeadTitle %} Calendar View {% endblock %} 

{% block PageTitle %} <br> Task Completed Calendar View {% endblock %} 

{% block mainpagedisplay %}
<div class="container-xxl">
    <form action="" method="post">
        {% csrf_token %}
        {% for task_done_date, task_form in task_form_list %}
            {% comment %} creates rows for each week {% endcomment %}
            {% if forloop.counter0|divisibleby:7 %} 
                {% if forloop.first != True %}
                    </div>
                {% endif %}
                <div class="row d-flex g-0 my-1 p-0" style="font-family: Tahoma, sans-serif;"> {% comment %} div for week/row {% endcomment %}
            {% endif %}
            {% comment %} style for card {% endcomment %}
            <div class="card flex-fill col-xxl=1 col-xl-1 col-lg-1 col-md-6 col-sm-6 col-xs-12 mx-1" > 
                <div class="card-body mx-1 p-0" >
                    <div class="card-title border-bottom m-0 p-0 mt-1" > 
                        <h6>
                            {{task_done_date|date:"j-M" }}
                            <span style="float: right;">
                                {{task_done_date|date:"D"}}
                            </span>
                        </h6>
                    </div>
                    <div class="card-text align-items-stretch m-0 p-0" >
                        {{ task_form.management_form }}
                        <table class='table table-hover table-sm m-0 p-0' sytle="font-size: 12px">
                            <tbody>
                                    {% for form in task_form %}
                                        <tr class='p-0' style='font-size: 12px;'>
                                            {% for field in form.visible_fields %}
                                                <td class='p-1' style='border: none;'>
                                                    {{ field }} 
                                                </td>
                                            {% endfor %}
                                        </tr>                         
                                    {% endfor %}
                            </tbody>
                        </table>
                        <p class='m-0 p-0'>
                            {% for form in task_form %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endfor %}
                        </p>            
                    </div>
                </div>
            </div>
        {% endfor %}
    </form>
 </div>
{% endblock%}