{% extends "wi/task_base.html" %}

{% block HeadTitle %} WI:Update {% endblock %} 

{% block PageTitle %} Update Task {% endblock %} 

{% block mainpagedisplay %}
    <div class="container-xxl">
        <form action="" method="post">
            {% csrf_token %}
            <table class='table table-hover'>
                <div class="container-xxl">
                <thead> 
                    <tr>
                        {% for field in form %}
                            <th> {{ field.label_tag }} </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        {% for field in form %}
                        <th>{{ field }} </th>
                        {% endfor %}
                    </tr>

                </tbody>
            </div>
                        </table>
            <br>
            <!-- Buttons  --->
            <input type="submit" class='btn btn-dark btn-lg' value="Update Task">
            <input type="submit" class='btn btn-dark btn-lg' onclick="window.location='{% url 'wi:wi_listview' %}'; return false;" value="Cancel">
            <button type="submit" class='btn btn-danger btn-lg' onclick="window.location='{% url 'wi:wi_delete' task.id %} '; return false;">
                 <i class="fa fa-trash-o" aria-hidden="true"></i> Delete </button>
        </form>
    </div>
<!--
    <br>
    <div class="container-xxl border">
        <div class="row">
            <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12 bg-info border"> Implement responsive grid layout with custom widths per container at each grid breakpoint. Use this to be responsive and have variable columns widths. </div>
            <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12 bg-info border"> Bootstrap grid system hierarchy is: container -> row -> column -> your content </div>
            <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12 bg-info border"> Column 1 </div>
            <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12 bg-info border"> Column 1 </div>
            <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12 bg-info border"> Column 1 </div>
            <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12 bg-info border"> Column 1 </div>
            <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12 bg-info border"> Column 2 </div>
            <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12 bg-info border"> Column 2 </div>
            <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12 bg-info border"> Column 2 </div>
            <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12 bg-info border"> Column 2 </div>
            <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12 bg-info border"> Column 2 </div>
            <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12 bg-info border"> Column 2 </div>
            <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12 bg-info border"> Column 3 </div>
            <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12 bg-info border"> Column 3 </div>
            <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12 bg-info border"> Column 3 </div>
            <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12 bg-info border"> Column 3 </div>
            <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12 bg-info border"> Column 3 </div>
            <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12 bg-info border"> Column 3 </div>
        </div>
    </div>
    <br>
    <div class="container-xxl border border-danger">
        <div class="row align-items-center row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6 row-cols-xxl-12" style="height: 200px">
            <div class="col bg-info border"> row columns provide similar functionality col-sz-xx with fewer class definitions and only common column widths </div>
            <div class="col bg-info border"> column 1 </div>
            <div class="col bg-info border"> column 1 </div>
            <div class="col bg-info border"> column 1 </div>
            <div class="col bg-info border"> column 1 </div>
            <div class="col bg-info border"> column 1 </div>
            <div class="col bg-info border"> column 1 </div>
            <div class="col bg-info border"> column 1 </div>
            <div class="col bg-info border"> column 1 </div>
            <div class="col bg-info border"> column 1 </div>
            <div class="col bg-info border"> column 1 </div>
            <div class="col bg-info border"> column 1 </div>
        </div>
    </div>
    <br>
    <div class="container-xxl border">
        <div class="row gx-4 gy-4 align-items-center row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6 row-cols-xxl-12">
            <div class="col card">
                <img src="https://picsum.photos/200?random=1" class="card-img-top" alt="random boring image">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="col card">
                <img src="https://picsum.photos/200?random=2" class="card-img-top" alt="random boring image">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="col card">
                <img src="https://picsum.photos/200?random3" class="card-img-top" alt="random boring image">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="col card">
                <img src="https://picsum.photos/200?random=4" class="card-img-top" alt="random boring image">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="col card">
                <img src="https://picsum.photos/200?random=5" class="card-img-top" alt="random boring image">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="col card">
                <img src="https://picsum.photos/200?random=6" class="card-img-top" alt="random boring image">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="col card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <img src="https://picsum.photos/200?random=7" class="card-img-bottom" alt="random boring image">
            </div>
            <div class="col card">
                <img src="https://picsum.photos/200" class="card-img-top" alt="random boring image">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="col card">
                <img src="https://picsum.photos/200" class="card-img-top" alt="random boring image">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="col card">
                <img src="https://picsum.photos/200" class="card-img-top" alt="random boring image">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="col card">
                <img src="https://picsum.photos/200" class="card-img-top" alt="random boring image">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="col card">
                <img src="https://picsum.photos/200" class="card-img-top" alt="random boring image">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="col card">
                <img src="https://picsum.photos/200" class="card-img-top" alt="random boring image">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="col card">
                <img src="https://picsum.photos/200" class="card-img-top" alt="random boring image">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="col card">
                <img src="https://picsum.photos/200" class="card-img-top" alt="random boring image">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="col card">
                <img src="https://picsum.photos/200" class="card-img-top" alt="random boring image">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="col card">
                <img src="https://picsum.photos/200" class="card-img-top" alt="random boring image">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="col card">
                <img src="https://picsum.photos/200" class="card-img-top" alt="random boring image">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <p> end text </p>
-->
{% endblock%}