{% extends "wi/task_base.html" %}

{% block HeadTitle %} Calendar View {% endblock %} 

{% block PageTitle %} <br> Task Completed Calendar View {% endblock %} 

{% block mainpagedisplay %}
<div class="container-xxl" style = "margin-top: 20px;">
    <form action="" method="post">
        {% csrf_token %}
        <div class="row g-0 my-1 p-0">
            {% for task_done_date, task_form in task_form_list %}
                {% if forloop.counter0|divisibleby:7 %}
                    </div>
                    <div class="row g-0 my-1 p-0">
                {% endif %}
                <div class="col card mx-1" > <!-- style for card -->
                    <div class="card-body mx-1 p-0" >
                        <h6 class="card-title border-bottom m-0 p-0" > 
                                {{task_done_date|date:"j-M" }}
                        <p style="float: right; margin-block-end: 0em">
                                {{task_done_date|date:"l"}}
                        </p>
                        </h6>
                        <p class="card-text m-0 p-0">
                            {{ task_form.management_form }}
                            <table class='table table-hover table-sm m-0 p-0' sytle="font-size: 12px">
                                <tbody>
                                        {% for form in task_form %}
                                            <tr style='font-size: 14px;'>
                                                {% for field in form.visible_fields %}
                                                    <td class='p-0' style='border: none;'>
                                                        {{ field }} 
                                                    </td>
                                                {% endfor %}
                                            </tr>                         
                                        {% endfor %}
                                </tbody>
                            </table>
                            <p class='m-0 p-0'>
                                {% for form in task_form %}
                                    {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                {% endfor %}
                            </p>            
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </form>
 </div>
{% endblock%}