{% extends "wi/task_base.html" %}

#
# Window tab title in the browser
#
{% block HeadTitle %} WI:TaskList {% endblock %} 

#
# page title, pre navbar
#
{% block PageTitle %} Display All Tasks {% endblock %} 

#
# main logic for the page
#
{% block mainpagedisplay %}
    <div class="container-xxl">
        <table class='table table-hover', data-toggle="table", data-pagination="true", data-search="true", data-page-size="25">
            {% for task in task_list %}
                {% if forloop.first %}
                <thead> 
                    <tr>
                        <th data-sortable="true"> Priority? </th>
                        <th data-sortable="true"> Completed? </th>
                        <th data-sortable="true"> Area </th>
                        <th data-sortable="true"> Description </th>
                        <th data-sortable="true"> Created </th>
                    </tr>
                </thead>
                <tbody>
                {% endif %}
                    <tr>
                        <td><input type="checkbox" name="status" id="id_status" disabled="disabled" {% if task.priority is True %} checked {% endif %}> </td>
                        <td><input type="checkbox" name="status" id="id_status" disabled="disabled" {% if task.status is True %} checked {% endif %}> </td>
                        <td> <a href='{% url "wi:task_areafocus" task.area.id %}' class="text-reset text-decoration-none"> {{ task.area }} </td>
                        <td> <a href='{% url "wi:wi_update" task.id %}' {{ task.id }} class="text-reset text-decoration-none" > {{ task.description }} </a> </td>
                        <td> {{task.created | date:"M j"}} </td>
                    </tr>
            {% endfor %}
            </tbody>
            </table>
        <br>
        <!-- Buttons  --->
        <input type="submit" class='btn btn-dark btn' onclick="window.location='{% url 'wi:wi_create' %}'; return false;" value="Create Task">
        <input type="submit" class='btn btn-dark btn' onclick="window.location='{% url 'wi:task_modelformsetfactory' %}'; return false;" value="Multi Edit View">
    </div>
{% endblock%}
