{% extends "wi/task_base.html" %}

{% block HeadTitle %} Tasks {% endblock %} 

{% block PageTitle %}  {% endblock %} 

{% block mainpagedisplay %}
<div class="container-fluid">
    {% if not domain_count %}
    <form action="" method="post">
        <br>
        <p> No domains defined for this account. Domains and areas are required to track and manage tasks. Please add one or more domains to continue. </p>
        <input type="button" class='btn btn-dark btn' onclick="window.location='{% url 'wi:domain_multiedit' %}'; return false;" value="Edit Domains">
        <br>
        <br>
    </form>
    {% else %}
        <form action="" method="post">
            <h3 class="bg-white mt-4 mb-3 m-0 p-0 g-0" style="z-index: 1;">
                {% if domain_count > 1 %}
                    <button type="submit" name="domain_left" class='btn btn-dark btn-sm'> <i class="fas fa-arrow-left"></i> </button> 
                {% endif %}
                {{ domain_name }} Tasks
                {% if domain_count > 1 %}
                    <button type="submit" name="domain_right" class='btn btn-dark btn-sm'> <i class="fas fa-arrow-right"></i> </button>
                {% endif %}
                <button type="submit" class='btn btn-dark btn-sm d-none d-sm-inline-block' name="{{area_obj.name | lower}}"> Update </button>
                {% if area_form_list|length > 0 %}
                    {% if show_done %}
                        <button type="submit" name="hide_done" class='btn btn-dark btn-sm' style="float: right"> Hide Done </button>
                    {% else %}
                        <button type="submit" name="show_done" class='btn btn-dark btn-sm' style="float: right"> Show Done </button>
                    {% endif %}
                {% endif %}
            </h3>
            {% csrf_token %}
            {% if area_form_list|length == 0 %}
                <br>
                <p> No areas defined for this domain. Areas are required to track and manage tasks. Please add areas to continue. </p>
                <input type="button" class='btn btn-dark btn' onclick="window.location='{% url 'wi:area_multiedit' %}'; return false;" value="Edit Areas">
                <br>
                <br>
            {% else %}
                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3 row-cols-xxl-4", style="overflow: hidden">
                    {% for area_obj, area_form in area_form_list %}
                        <div class="card col card" style="font-family: Georgia, serif;">
                            <div class="card-body p-3">
                                <h5 class="card-title"> 
                                    <a href="{% url 'wi:task_areafocus' area_obj.id %}", style="text-decoration: none; color: black">
                                     {{area_obj.name}} Tasks  <i class="fas fa-edit fa-xs"></i></a> 
                                    {% if area_form_list|length > 1 %}
                                        <button type="submit" name="navigate_down" class='btn btn-dark btn-sm' style="float: right" value="{{area_obj.name}}"> <i class="fas fa-caret-down fa-lg"></i> </button>
                                        <button type="submit" name="navigate_up" class='btn btn-dark btn-sm' style="float: right" value="{{area_obj.name}}"> <i class="fas fa-caret-up fa-lg"></i> </button>
                                    {% endif %}
                                </h5>
                                <div class="card-text">
                                    {{ area_form.management_form }}
                                    <table class='table table-hover table-sm' sytle="font-size: 14px">
                                        <thead> 
                                            <tr class="d-flex" style='font-size: 14px;font-family: Verdana, sans-serif;'>
                                                {% for field in area_form.form.visible_fields %}
                                                    {% if field.name == "area" %}
                                                    {% else %}
                                                        <th class="p-0 fw-normal">{{ field.label_tag }} </th>
                                                    {% endif %}
                                                {% endfor %}
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for form in area_form %}
                                                <tr class="d-flex pt-1" style='font-size: 14px; font-family: Verdana, sans-serif;'>
                                                    {% for field in form.visible_fields %}
                                                        <td class="p-0" style="border: none;">
                                                            {{ field }}
                                                        </td>
                                                    {% endfor %}
                                                </tr>                         
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <br>
                                    <span class="d-block d-sm-none">
                                        <input type="submit" name="{{area_obj.name | lower}}" class='btn btn-dark btn' value="Update">
                                    </span>
                                    <span>
                                    {% for form in area_form %}
                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                    {% endfor %}
                                    </span>            
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </form>
    {% endif %}
</div>
<script type="text/javascript">

    $(document).ready(
        function() {
            //
            // textarea by default is 20 rows from Django. 
            // Work around here is to set rows to 1 so that autoscroll height works.
            // Otherwise the scollHeight is initially 20rows high.
            //
            $(".task-description").attr('rows', '1');

            //
            // tried different solutions and found this code on: https://stackoverflow.com/a/25621277
            //
            $("textarea").each(function () {
                this.setAttribute("style", "height:" + (this.scrollHeight) + "px;overflow-y:hidden;");
              }).on("input", function () {
                this.style.height = "auto";
                this.style.height = (this.scrollHeight) + "px";
              });

            //
            // set description width to 100%
            //
            $(".task-description").parent().css('width', '100%');

            //
            // recenter the task descriptions into the grey background color of the row/hover
            //
            $(".task-description").css('margin-top', '0.25rem');


            //
            // custom widths for the table in the task card.meatofit
            //
            $("thead th:first-child" ).css('width', '24px');
            $(".task-priority").css('width', '24px');
            $(".task-status").css('width', '48px');
            $("thead th:nth-child(2)" ).css('width', '48px');
            
            //
            // task complete strikethrough handler, first when user clicks.
            // then also the code for load time parsing/strking through.
            //
            $(".task-status").on('click', function() {
                
                //
                // django generates element ids that may include spaces, breaking call to jquery.
                // however, you can escape the ' ' using \\ as workaround.
                //
                var tdi = "";
                tdi = this.id.replace('status', 'description');
                tdi = tdi.replace(' ', '\\ ');

                // now that tdi is 'space safe', it can be derefenced as an id selector
                $('#' + tdi).css('text-decoration', this.checked ? 'line-through' : 'none');
                // do we disable too?
                //$('#' + tdi).prop('disabled', this.checked ? true : false);

                // unused but cool, search and remove all strings code
                // tdi = tdi.replace(/\s+/g, '');
            });

            // todo: used this css call to execute code to set initial values for description's
            //       strikethrough. But it's really a cheat to get the selector and run the code.
            //       not acually doing anything with the ".css" call. 
            $(".task-status").css('text-docoration', function() {
                //
                // django generates element ids that may include spaces, breaking call to jquery.
                // however, you can escape the ' ' using \\ as workaround.
                //
                var tdi = "";
                tdi = this.id.replace('status', 'description');
                tdi = tdi.replace(' ', '\\ ');

                // now that tdi is 'space safe', it can be derefenced as an id selector
                $('#' + tdi).css('text-decoration', this.checked ? 'line-through' : 'none');
            });

{% comment %}             $(".task-description").css('border-bottom', function() {
                //$(this).css({'border-top': 'none',
                //            'border-right': 'none',
                //            'border-left': 'none'});

                if ($(this).text() == "") {
                    //$(this).css('border-bottom', '1px solid black');
                    // add a bottom border causes the height to increase by one and this has to be accounted for.
                    tsh = this.scrollHeight;
                    tsh++;
                    this.style.height = tsh + "px";
                } else {
                    //nothing for now
                    //$(this).css('border-bottom', 'none');
                }
            });

 {% endcomment %}        })
        
</script>


{% endblock%}